<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897476337998-evgpbt1rkhjkvkigh382lran569d36j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897476337998-evgpbt1rkhjkvkigh382lran569d36j8</string>
	<key>API_KEY</key>
	<string>AIzaSyB6QMGrkMXiVtbsRBesiXy6_NjGvEDbISs</string>
	<key>GCM_SENDER_ID</key>
	<string>897476337998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venolink.Cleanpro.Once</string>
	<key>PROJECT_ID</key>
	<string>cleanpro-70887</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanpro-70887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897476337998:ios:a19c2419065a0d7b5ebe1f</string>
	<key>DATABASE_URL</key>
	<string>https://cleanpro-70887.firebaseio.com</string>
</dict>
</plist>